# TAMING OUR PYTHON !
Welcome to the first section of the course. In this section, I will be taking you through the fundamentals of python programming for Data Science.

Assuming you have no prior knowledge of programming, I will lay a solid foundation of Python and make sure you are comfortable enough to put it on your resume by the end of this section. 

I strongly believe in the “Learn by doing” methodology. Hence, I have created some very exciting coding exercises for you. I will strongly recommend doing them yourselves. *Their solutions will be provided at the end of this section.*

## WHAT WE WILL LEARN IN THIS SECTION
We will take a step by step approach to Data Science. Firstly, we will go over the python basics. Then, we will move ourselves to NumPy, which is an amazing library for handling large datasets. Next, we would learn data manipulations in Pandas, which would prove marvelous in our Data Preperation stages. Finally, we will end this section with three in-depth turials on graphing. As a bonus, we will also discuss a framework for geographical plotting! 

- **Python Basics**
- Object Oriented Python
- Python for Data Science
- NumPy
- Pandas
- Plotting 
    - Matplotlib
    - Seaborn
    - Plotly

## VARIABLES AND DATA TYPES
Python has five major data types.
1. Numbers
2. String
3. List
4. Tuple
5. Dictionary

In [8]:
#Anything starting with a # hashtag is a comment
#This is our very first python program
print("Hello World")

Hello World

### NUMERIC TYPES
1. int
2. long
3. float
4. complex

In [20]:
var_int = 20
var_long = 235453463
var_float = 13.12
var_complex = 3.12+4j
print(type(var_int))
print(type(var_long))
print(type(var_float))
print(type(var_complex))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>

### STRING VARIABLES

In [26]:
str = "Hello World"

print (str)         
print ("Index 0 = ", str[0])       
print (str[2:6])     
print (str[2:])
print (str * 4)      
print (str + "Append")
print ("Length of string = " ,len(str))

Hello World
Index 0 =  H
llo
llo World
Hello WorldHello WorldHello WorldHello World
Hello WorldAppend
Length of string =  11

### LISTS
Lists are collections of different data types.

In [28]:
list = ['string', var_int, 3, var_long, 342342342, var_float, 2.1]
print(list)

['string', 20, 3, 235453463, 342342342, 13.12, 2.1]

print(list[0])
print(list[0:2])
print(list[1:3])
print(list[:])
print(list[:3])

### TUPLES
Tuples are collections of unalterable elements. They can not be edited once created.

In [35]:
tuple = ('string', var_int, 3, var_long, 342342342, var_float, 2.1)
print(tuple)

('string', 20, 3, 235453463, 342342342, 13.12, 2.1)

In [38]:
list[0]='New assignment'
print(list)

['New assignment', 20, 3, 235453463, 342342342, 13.12, 2.1]

In [40]:
tuple[0]='New assignment'

TypeError: 'tuple' object does not support item assignment

### DICTIONARY

In [45]:
dict = {}
dict['key_1'] = 'Value 1'
dict['key_2'] = 3
person = {'Name':'Mahnoor', 'Surname':'Anjum', 'Age':21}
print(dict)
print(person)

{'key_2': 3, 'key_1': 'Value 1'}
{'Age': 21, 'Surname': 'Anjum', 'Name': 'Mahnoor'}

## BASIC OPERATORS
Python has the following data operators.

- Arithmetic Operators
- Comparison Operators
- Assignment Operators
- Logical Operators
- Bitwise Operators
- Membership Operators
- Identity Operators


### ARITHMETIC OPERATIONS

In [53]:
print("10 + 20 = ", 10 + 20)
print("10 - 20 = ", 10 - 20)
print("10 * 20 = ", 10 * 20)
print("10 / 20 = ", 10 / 20)
print("12 % 5 = ", 12 % 5)
print("10 ** 20 = ", 10 ** 20)

10 + 20 =  30
10 - 20 =  -10
10 * 20 =  200
10 / 20 =  0.5
12 % 5 =  2
10 ** 20 =  100000000000000000000

### RELATIONAL (COMPARISON OPERATORS)

In [54]:
print("10 == 20 = ", 10 == 20)
print("10 != 20 = ", 10 != 20)
print("10 < 20 = ", 10 < 20)
print("10 > 20 = ", 10 > 20)
print("12 >= 5 = ", 12 >= 5)
print("10 <= 20 = ", 10 <= 20)

10 == 20 =  False
10 != 20 =  True
10 < 20 =  True
10 > 20 =  False
12 >= 5 =  True
10 <= 20 =  True

### ASSIGNMENT OPERATORS

In [61]:
a, b = 1, 2
c = a
print (" = ", c)
c +=b
print (" +=", c)
c -=b
print (" +=", c)
c *=a
print (" +=", c)
c /=a
print (" /=", c)
c %=b
print (" %=", c)
c **=a
print (" **=", c)
c //=a
print (" //=", c)

 =  1
 += 3
 += 1
 += 1
 /= 1.0
 %= 1.0
 **= 1.0
 //= 1.0

### BITWISE OPERATORS

In [78]:
byte1 = int('10110000', 2) 
byte2 = int('00001011', 2) 
byte3 = int('01010101', 2)  
print (" & ", byte1&byte2)
print (" | ", byte1|byte2)
print (" ^ ", byte1^byte2)
print (" ~ ", ~byte1)
print (" << ", byte1<<2)
print (" >> ", byte1>>2)

 &  0
 |  187
 ^  187
 ~  -177
 <<  704
 >>  44

### MEMBERSHIP OPERATORS

In [80]:
sequence = [1,2,3,4]
print("1 in sequence", 1 in sequence)
print("1 not in sequence", 1 not in sequence)

1 in sequence True
1 not in sequence False

### IDENTITY OPERATORS

In [82]:
a = 1
b = 2
print(id(a))
print(id(b))
print("a is b ", a is b)
print("a is not b ", a is not b)
print("a is a ", a is a)

1687839552
1687839584
a is b  False
a is not b  True
a is a  True

## CONDITIONAL FLOW CONTROL

In [84]:
input_name = "Mahnoor Anjum"
database_name = "Jane Doe"
if(input_name == database_name):
    print("Logged in")
else:
    print("Sorry, could not log in")

Sorry, could not log in

In [85]:
input_name = "Mahnoor Anjum"
database_name = "Mahnoor Anjum"
if(input_name == database_name):
    print("Logged in")
else:
    print("Sorry, could not log in")

Logged in

In [98]:
age = 40
if(age>60):
    print("Sorry, you are not eligible to play anymore")
elif(age>=40 and age<60):
    print("You will be a substitute in our team")
elif(age>=30 and age<40):
    print("You will be subbed during the second half")
elif(age>=20 and age<30):
    print("Let's win this thing")
elif(age>=10 and age<20):
    print("Train, for the real test is just around the corner")
else:
    print("Kindly put a valid age into the system")

You will be a substitute in our team

## LOOPS 
We can repeat tasks via the following statements:
1. For loops
2. While loops
We can also use nested loops for the flow control.

In [109]:
j=10
for i in range(10):
    for k in range(j):
        print("*", end ="")
    j-=1
    print("", end= "\n")

**********
*********
********
*******
******
*****
****
***
**
*

## HOME WORK 
This is your very first home task. Try coding it yourself. You have to cut the diamond out of the canvas of asterisks. Hope you do well.

In [132]:
j=10
space=0

for i in range(10):
    for k in range(j):
        print("*", end ="")
    for q in range(space):
        print(" ", end="")
    for k in range(j):
        print("*", end ="")
    j-=1
    space+=2
    print("", end= "\n")
j=1
space=18
for i in range(10):
    for k in range(j):
        print("*", end ="")
    for q in range(space):
        print(" ", end="")
    for k in range(j):
        print("*", end ="")
    j+=1
    space-=2
    print("", end= "\n")

********************
*********  *********
********    ********
*******      *******
******        ******
*****          *****
****            ****
***              ***
**                **
*                  *
*                  *
**                **
***              ***
****            ****
*****          *****
******        ******
*******      *******
********    ********
*********  *********
********************

### LOOP CONTROL STATEMENTS

In [136]:
value =5
for i in range(10):
    if(i==value):
        break
    print(i)

0
1
2
3
4

In [138]:
value =5
for i in range(10):
    if(i==value):
        continue
    print(i)

0
1
2
3
4
6
7
8
9

### WELCOME TO THE END OF THE TUTORIAL
You made it!! Hope you enjoyed taking this tutorial as much as I enjoyed coding it. From the next tutorial, we will be jumping right into Objects and Classes and everything that comes with them!

Object Oriented Programming is a whole new concept of coding which, not only will help you be a better data scientist, but make you a conventional programmer.

Hope you guys create some awesome Aterisk-Artwork, do share it with me, I would love to see how you guys are doing. Until next time, Happy Coding!

---------------------------------------------------------------------------------
Copyrights © 2018, All Rights Reserved.
- Author: Mahnoor Anjum.
- Course: The Complete Hands-On Machine Learning Course
- Date Created: 2018-06-27
- Date Modified: -