# PYTHON FOR DATA SCIENCE
We will take our python programming skills a step further and process large data in it. Python is an excellent language for deployment. Hence we will be using open source data during the learning process!!

This will make sure we understand the challenges a Data Scientist can face and how to deal with them. In my experience, Data Preprocessing takes 70% of the time in any project. Hence it is crucial for any Data Scientist to know what it is and how it is done. 

This may be the boring portion of the course but I assure you, you will feel accomplished by the end of this tutorial. 

- Python Basics
- Object Oriented Python
- **Python for Data Science**
- NumPy
- Pandas
- Plotting 
    - Matplotlib
    - Seaborn
    - Plotly
    
Let's get coding !!

In [3]:
#Variables can not start with a number
12var = 1

SyntaxError: invalid syntax (<ipython-input-3-91ada738f0a2>, line 2)

In [5]:
_13var = 1

In [11]:
name = "Mahnoor"
surname = "Anjum"
age = 21
print("I'm {} {} and I am {} years old.".format(name, surname, age))

I'm Mahnoor Anjum and I am 21 years old.

In [12]:
name = "Mahnoor"
surname = "Anjum"
age = 21
print("I'm {_1} {_2} and I am {_3} years old.".format(_1 = name, _2= surname, _3 = age))

I'm Mahnoor Anjum and I am 21 years old.

### INDEXING AND SLICING
One of the most important Python concept for data scientists is the slicing operator ':'

In [19]:
str = "ONE TWO THREE FOUR FIVE"
print(str[0])
print(str[5])
print(str[len(str)-1])

O
W
E

In [21]:
str[:5]

'ONE T'

In [22]:
str[5:]

'WO THREE FOUR FIVE'

In [23]:
str[1]="a"

TypeError: 'str' object does not support item assignment

In [31]:
nested = [1,2,3,['_1','_2','_3',['__1']]]
nested[0]

1

In [30]:
nested[3][0]

'_1'

In [32]:
len(nested)

4

In [33]:
len(nested[3])

4

In [34]:
nested[3][3]

['__1']

In [35]:
nested[3][3][0]

'__1'

In [47]:
dict = {'key1':'value1', \
        'key2': 'value2', \
        'key3':'value3'}
dict['key1']

'value1'

In [48]:
T = True
F = False
var = 10
for i in range(var):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [49]:
for i in range(var):
    bool = (i==2)
    if bool:
        break
    print(i)

0
1

In [50]:
[1,2,3,1,1,2,3,4]

[1, 2, 3, 1, 1, 2, 3, 4]

In [51]:
(1,2,3,1,1,2,3,4)

(1, 2, 3, 1, 1, 2, 3, 4)

In [52]:
{1,2,3,1,1,2,3,4}

{1, 2, 3, 4}

In [56]:
new_set = set([1,2,3,1,1,2,3,4])
new_set.add(5)
new_set

{1, 2, 3, 4, 5}

In [58]:
for item in new_set:
    print(item)

1
2
3
4
5

In [63]:
list(range(4))

[0, 1, 2, 3]

In [66]:
my_list = list(range(5,10))

In [68]:
output = []
for number in my_list:
    output.append(number**3)
output

[125, 216, 343, 512, 729]

In [70]:
output = [num**3 for num in my_list]
output

[125, 216, 343, 512, 729]

### FUNCTIONS

In [72]:
def my_function(parameter):
    print(parameter)
my_function("Jalebi (Hungry okay?)")

Jalebi (Hungry okay?)

In [73]:
def my_function(parameter="Default"):
    print(parameter)
my_function()

Default

In [77]:
num = 4
def change(par):
    par =5
    return par 
change(num)
num

4

In [80]:
num = 4
def change(par):
    par =5
    return par 
change(num)
num

4

In [90]:
num = [4]
def change(par):
    par.append(5)
    del par[0]
    return par 
change(num)
num

[5]

In [91]:
my_list

[5, 6, 7, 8, 9]

### LAMBDA EXPRESSIONS

In [93]:
def square(x): return x*x
list(map(square, my_list))

[25, 36, 49, 64, 81]

In [94]:
list(map(lambda x:x*x, my_list))

[25, 36, 49, 64, 81]

### BUILT-IN FUNCTIONS

In [95]:
s = "We have a hulk !!!"

In [96]:
s.lower()

'we have a hulk !!!'

In [97]:
s.upper()

'WE HAVE A HULK !!!'

In [98]:
s.split()

['We', 'have', 'a', 'hulk', '!!!']

In [99]:
dict = {'key1':1,'key2':2}
dict.keys()

dict_keys(['key1', 'key2'])

In [100]:
dict.values()

dict_values([1, 2])

In [101]:
dict.items()

dict_items([('key1', 1), ('key2', 2)])

In [103]:
my_list.pop()

9

In [104]:
my_list

[5, 6, 7, 8]

### TUPLE UNPACKING

In [109]:
list_of_tuples  =[(1,2),(3,4),(5,6)]
for (a,b) in list_of_tuples:
    print (a)
    print (b)

1
2
3
4
5
6

### WELCOME TO THE END OF THE TUTORIAL
You made it!! Hope you enjoyed taking this tutorial as much as I enjoyed coding it. From the next tutorial, we will be starting our first Data Science Library called NumPy. Until then, happy coding. 

---------------------------------------------------------------------------------
Copyrights © 2018, All Rights Reserved.
- Author: Mahnoor Anjum.
- Course: The Complete Hands-On Machine Learning Course
- Date Created: 2018-06-27
- Date Modified: -