# MUNG - FU PANDA 

Welcome to the Pandas tutorial. Pandas is an excellent tool for data wrangling also known as data munging.
It refers to the cleaning and preperation of data from Raw format to a usable and suitable format for our use.

- Python Basics
- Object Oriented Python
- Python for Data Science
- NumPy
- **Pandas**
- Plotting 
    - Matplotlib
    - Seaborn
    - Plotly
    
Let's get coding !

### SERIES AND DATAFRAMES
Series and dataframes are the main data types Pandas introduces.

In [135]:
import numpy as np
import pandas as pd
Student_ID = list(range(10,20))
Grades = ['A','B','A','A','F','C','F','F','D','A']
arr_Grades = np.array(Grades)

In [136]:
print(pd.Series(data = Grades))

0    A
1    B
2    A
3    A
4    F
5    C
6    F
7    F
8    D
9    A
dtype: object

In [137]:
print(pd.Series(data = Grades, index = Student_ID))

10    A
11    B
12    A
13    A
14    F
15    C
16    F
17    F
18    D
19    A
dtype: object

In [138]:
print(pd.Series(arr_Grades))

0    A
1    B
2    A
3    A
4    F
5    C
6    F
7    F
8    D
9    A
dtype: object

In [139]:
d = {'Pakistan':11, 'Germany':4, 'Brazil':5, 'Argentina':6}
S = pd.Series(d)

In [140]:
print(S['Pakistan'])

11

In [141]:
print(S + S)

Argentina    12
Brazil       10
Germany       8
Pakistan     22
dtype: int64

In [142]:
print(S-S)

Argentina    0
Brazil       0
Germany      0
Pakistan     0
dtype: int64

In [143]:
print(S**S)

Argentina           46656
Brazil               3125
Germany               256
Pakistan     285311670611
dtype: int64

In [144]:
arr = np.random.randint(1,10,5)
df = pd.DataFrame(arr, ['A','B','C','D','E'])

In [145]:
print(df)

   0
A  4
B  3
C  6
D  1
E  3

In [146]:
df = pd.DataFrame(np.random.randint(1,10,(5,3)), ['A','B','C','D','E'],['Q','W','E'])
print(df)

   Q  W  E
A  5  9  1
B  2  1  6
C  1  1  2
D  3  8  6
E  4  3  1

In [147]:
print(df['W'])

A    9
B    1
C    1
D    8
E    3
Name: W, dtype: int32

In [148]:
print(df.W)

A    9
B    1
C    1
D    8
E    3
Name: W, dtype: int32

In [149]:
print(type(df.W))
print(type(df['W']))
print(df[['Q','W']])

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>
   Q  W
A  5  9
B  2  1
C  1  1
D  3  8
E  4  3

In [150]:
df['New Column'] = 0
print(df)

   Q  W  E  New Column
A  5  9  1           0
B  2  1  6           0
C  1  1  2           0
D  3  8  6           0
E  4  3  1           0

In [151]:
df.drop('New Column', axis = 1, inplace = True)
print(df)

   Q  W  E
A  5  9  1
B  2  1  6
C  1  1  2
D  3  8  6
E  4  3  1

In [152]:
print(df.loc['C'])
print(type(df.loc['C']))

Q    1
W    1
E    2
Name: C, dtype: int32
<class 'pandas.core.series.Series'>

In [153]:
print(df.iloc[2])
print(type(df.iloc[2]))

Q    1
W    1
E    2
Name: C, dtype: int32
<class 'pandas.core.series.Series'>

In [154]:
print(df.iloc[1:4,1:3])

   W  E
B  1  6
C  1  2
D  8  6

In [155]:
print(df.loc[['A','D'],['Q','E']])

   Q  E
A  5  1
D  3  6

In [156]:
print(df>5)

       Q      W      E
A  False   True  False
B  False  False   True
C  False  False  False
D  False   True   True
E  False  False  False

In [157]:
print(df[df>5])

    Q    W    E
A NaN  9.0  NaN
B NaN  NaN  6.0
C NaN  NaN  NaN
D NaN  8.0  6.0
E NaN  NaN  NaN

In [158]:
print(df[df['Q']>5])

Empty DataFrame
Columns: [Q, W, E]
Index: []

In [159]:
print(df[(df['Q']>5) & (df['E']>5)])

Empty DataFrame
Columns: [Q, W, E]
Index: []

In [160]:
print(df[(df['Q']>5) | (df['E']>5)])

   Q  W  E
B  2  1  6
D  3  8  6

In [161]:
df = df.reset_index()
print(df)

  index  Q  W  E
0     A  5  9  1
1     B  2  1  6
2     C  1  1  2
3     D  3  8  6
4     E  4  3  1

In [162]:
print(df['index'])

0    A
1    B
2    C
3    D
4    E
Name: index, dtype: object

In [163]:
print(df.set_index('index'))

       Q  W  E
index
A      5  9  1
B      2  1  6
C      1  1  2
D      3  8  6
E      4  3  1

### DATA MANIPULATIONS

In [164]:
col1 = [1,2,np.nan,np.nan,5]
col2 = [5,6,7,np.nan,8]
col3 = [12,np.nan,13,14,15]
d = {'A':col1, 'B':col2, 'C':col3}
df = pd.DataFrame(d)
print(df)

     A    B     C
0  1.0  5.0  12.0
1  2.0  6.0   NaN
2  NaN  7.0  13.0
3  NaN  NaN  14.0
4  5.0  8.0  15.0

In [165]:
print(df.dropna())
print(df.dropna(thresh=2))

     A    B     C
0  1.0  5.0  12.0
4  5.0  8.0  15.0
     A    B     C
0  1.0  5.0  12.0
1  2.0  6.0   NaN
2  NaN  7.0  13.0
4  5.0  8.0  15.0

In [166]:
print(df.fillna(value="VALUE"))

       A      B      C
0      1      5     12
1      2      6  VALUE
2  VALUE      7     13
3  VALUE  VALUE     14
4      5      8     15

In [167]:
print(df['A'].fillna(value=df['A'].mean()))

0    1.000000
1    2.000000
2    2.666667
3    2.666667
4    5.000000
Name: A, dtype: float64

### MERGE
Merging refers to a "Glue-ing" technique that does not care about the index.

In [168]:
left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K4'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})  
print(left)
print(right)

    A   B Key
0  A0  B0  K0
1  A1  B1  K1
2  A2  B2  K2
3  A3  B3  K3
    C   D Key
0  C0  D0  K0
1  C1  D1  K1
2  C2  D2  K2
3  C3  D3  K4

In [169]:
#Inner join only looks at the intersection
print(pd.merge(left, right, on="Key", how="inner"))

    A   B Key   C   D
0  A0  B0  K0  C0  D0
1  A1  B1  K1  C1  D1
2  A2  B2  K2  C2  D2

In [170]:
#Left join gives us the left df + the intersection
print(pd.merge(left, right, on="Key", how="left"))

    A   B Key    C    D
0  A0  B0  K0   C0   D0
1  A1  B1  K1   C1   D1
2  A2  B2  K2   C2   D2
3  A3  B3  K3  NaN  NaN

In [171]:
#Right join gives us the right df + the intersection
print(pd.merge(left, right, on="Key", how="right"))

     A    B Key   C   D
0   A0   B0  K0  C0  D0
1   A1   B1  K1  C1  D1
2   A2   B2  K2  C2  D2
3  NaN  NaN  K4  C3  D3

In [172]:
#Outer join gives us the right df + the intersection + the left df
print(pd.merge(left, right, on="Key", how="outer"))

     A    B Key    C    D
0   A0   B0  K0   C0   D0
1   A1   B1  K1   C1   D1
2   A2   B2  K2   C2   D2
3   A3   B3  K3  NaN  NaN
4  NaN  NaN  K4   C3   D3

### JOIN
Joining refers to a "Glue-ing" technique that does care about the index

In [173]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']},
                   index = ['K0', 'K1', 'K2', 'K3'])
   
right = pd.DataFrame({'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']},
                    index =  ['K0', 'K1', 'K2', 'K4'],)  
print(left)
print(right)

     A   B
K0  A0  B0
K1  A1  B1
K2  A2  B2
K3  A3  B3
     C   D
K0  C0  D0
K1  C1  D1
K2  C2  D2
K4  C3  D3

In [174]:
print(left.join(right))

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1   C1   D1
K2  A2  B2   C2   D2
K3  A3  B3  NaN  NaN

In [175]:
print(left.join(right, how="inner"))

     A   B   C   D
K0  A0  B0  C0  D0
K1  A1  B1  C1  D1
K2  A2  B2  C2  D2

In [176]:
print(left.join(right, how="outer"))

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1   C1   D1
K2   A2   B2   C2   D2
K3   A3   B3  NaN  NaN
K4  NaN  NaN   C3   D3

In [177]:
print(right.join(left))

     C   D    A    B
K0  C0  D0   A0   B0
K1  C1  D1   A1   B1
K2  C2  D2   A2   B2
K4  C3  D3  NaN  NaN

### CONCATENATE

In [178]:
df1 = pd.DataFrame({'C0': ['00', '10','20', '30'],
                        'C1': ['01', '11', '21', '31'],
                        'C2': ['02', '12', '22', '32'],
                        'C3': ['03', '13', '23', '33']},
                        index=[0, 1, 2, 3])
print(df1)

   C0  C1  C2  C3
0  00  01  02  03
1  10  11  12  13
2  20  21  22  23
3  30  31  32  33

In [179]:
df2 = pd.DataFrame({'C0': ['40', '50','60', '70'],
                        'C1': ['41', '51', '61', '71'],
                        'C2': ['42', '52', '62', '72'],
                        'C3': ['43', '53', '63', '73']},
                        index=[4, 5, 6, 7])
print(df2)

   C0  C1  C2  C3
4  40  41  42  43
5  50  51  52  53
6  60  61  62  63
7  70  71  72  73

In [180]:
df3 = pd.DataFrame({'C0': ['80', '90','10,0', '11,0'],
                        'C1': ['81', '91', '10,1', '11,1'],
                        'C2': ['82', '92', '10,2', '11,2'],
                        'C3': ['83', '93', '10,3', '11,3']},
                        index=[8, 9, 10, 11])
print(df3)

      C0    C1    C2    C3
8     80    81    82    83
9     90    91    92    93
10  10,0  10,1  10,2  10,3
11  11,0  11,1  11,2  11,3

In [181]:
print(pd.concat([df1,df2,df3]))

      C0    C1    C2    C3
0     00    01    02    03
1     10    11    12    13
2     20    21    22    23
3     30    31    32    33
4     40    41    42    43
5     50    51    52    53
6     60    61    62    63
7     70    71    72    73
8     80    81    82    83
9     90    91    92    93
10  10,0  10,1  10,2  10,3
11  11,0  11,1  11,2  11,3

In [182]:
print(pd.concat([df1,df2,df3], axis=1))

     C0   C1   C2   C3   C0   C1   C2   C3    C0    C1    C2    C3
0    00   01   02   03  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
1    10   11   12   13  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
2    20   21   22   23  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
3    30   31   32   33  NaN  NaN  NaN  NaN   NaN   NaN   NaN   NaN
4   NaN  NaN  NaN  NaN   40   41   42   43   NaN   NaN   NaN   NaN
5   NaN  NaN  NaN  NaN   50   51   52   53   NaN   NaN   NaN   NaN
6   NaN  NaN  NaN  NaN   60   61   62   63   NaN   NaN   NaN   NaN
7   NaN  NaN  NaN  NaN   70   71   72   73   NaN   NaN   NaN   NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    80    81    82    83
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN    90    91    92    93
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  10,0  10,1  10,2  10,3
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  11,0  11,1  11,2  11,3

### GROUPBY

In [183]:
import pandas as pd
school = ['SEECS','SEECS','SMME','SEECS','SCME','SMME','SADA']
student = ['Mahnoor','Usman','Mustafa','Abdullah','Mahum','Armughan','Ayesha']
cgpa = [3.12,4,3.17,4,3.14,3.04,3.04]
data = {'School':school, 'Student':student,'CGPA':cgpa}
df = pd.DataFrame(data)
print(df)

   CGPA School   Student
0  3.12  SEECS   Mahnoor
1  4.00  SEECS     Usman
2  3.17   SMME   Mustafa
3  4.00  SEECS  Abdullah
4  3.14   SCME     Mahum
5  3.04   SMME  Armughan
6  3.04   SADA    Ayesha

In [184]:
bySchool = df.groupby('School')
bySchool

In [185]:
print(bySchool.mean())
print(bySchool.std())
print(bySchool.sum())

            CGPA
School
SADA    3.040000
SCME    3.140000
SEECS   3.706667
SMME    3.105000
            CGPA
School
SADA         NaN
SCME         NaN
SEECS   0.508068
SMME    0.091924
         CGPA
School
SADA     3.04
SCME     3.14
SEECS   11.12
SMME     6.21

In [186]:
print(df.groupby('School').std().loc['SMME'])

CGPA    0.091924
Name: SMME, dtype: float64

In [187]:
print(df.groupby('School').describe())

        CGPA
       count      mean       std   min     25%    50%     75%   max
School
SADA     1.0  3.040000       NaN  3.04  3.0400  3.040  3.0400  3.04
SCME     1.0  3.140000       NaN  3.14  3.1400  3.140  3.1400  3.14
SEECS    3.0  3.706667  0.508068  3.12  3.5600  4.000  4.0000  4.00
SMME     2.0  3.105000  0.091924  3.04  3.0725  3.105  3.1375  3.17

### OPERATIONS IN PANDAS

In [188]:
school = ['SEECS','SEECS','SMME','SMME','SCME','SMME','SADA']
student = ['Mahnoor','Usman','Mustafa','Abdullah','Mahum','Armughan','Ayesha']
cgpa = [3.12,4,4,3.13,3.14,3.04,3.04]
age = [21,18,22,21,20,21,24]
df= pd.DataFrame({'Student':student, 'School':school, "CGPA":cgpa, 'Age':age})
print(df)

   Age  CGPA School   Student
0   21  3.12  SEECS   Mahnoor
1   18  4.00  SEECS     Usman
2   22  4.00   SMME   Mustafa
3   21  3.13   SMME  Abdullah
4   20  3.14   SCME     Mahum
5   21  3.04   SMME  Armughan
6   24  3.04   SADA    Ayesha

In [189]:
print(df[(df['School']=='SEECS') & (df['CGPA']==4)])

   Age  CGPA School Student
1   18   4.0  SEECS   Usman

In [190]:
(df['School'].value_counts())

SMME     3
SEECS    2
SADA     1
SCME     1
Name: School, dtype: int64

In [191]:
print(df.sort_values(by='CGPA'))

   Age  CGPA School   Student
5   21  3.04   SMME  Armughan
6   24  3.04   SADA    Ayesha
0   21  3.12  SEECS   Mahnoor
3   21  3.13   SMME  Abdullah
4   20  3.14   SCME     Mahum
1   18  4.00  SEECS     Usman
2   22  4.00   SMME   Mustafa

In [192]:
print(df['School'].unique())
print(df['School'].nunique())

['SEECS' 'SMME' 'SCME' 'SADA']
4

In [193]:
print(df.drop('School', axis=1))

   Age  CGPA   Student
0   21  3.12   Mahnoor
1   18  4.00     Usman
2   22  4.00   Mustafa
3   21  3.13  Abdullah
4   20  3.14     Mahum
5   21  3.04  Armughan
6   24  3.04    Ayesha

In [194]:
print(df.columns)
print(df.index)

Index(['Age', 'CGPA', 'School', 'Student'], dtype='object')
RangeIndex(start=0, stop=7, step=1)

In [195]:
print(df.isnull())

     Age   CGPA  School  Student
0  False  False   False    False
1  False  False   False    False
2  False  False   False    False
3  False  False   False    False
4  False  False   False    False
5  False  False   False    False
6  False  False   False    False

### APPLYING CUSTOM FUNCTIONS

In [196]:
def square(x): return x*x
# lambda x : x*x

In [197]:
print(df.CGPA.apply(square))

0     9.7344
1    16.0000
2    16.0000
3     9.7969
4     9.8596
5     9.2416
6     9.2416
Name: CGPA, dtype: float64

In [198]:
print(df.CGPA.apply(lambda x:x*x))

0     9.7344
1    16.0000
2    16.0000
3     9.7969
4     9.8596
5     9.2416
6     9.2416
Name: CGPA, dtype: float64

### DATA I/O
You need to install sqlalchemy and lxml for this section of the tutorial

In [199]:
import pandas as pd
df = pd.read_csv('../Datasets/CustomerList.csv')
print(df[1:10])

   Customer ID                     City  ZipCode Gender   Age
1          673  Murfreesboro, Tennessee    37129      F  28.1
2          857    Kansas City, Missouri    64167      F  30.8
3          966     Nunnelly,  Tennessee    37137      M  32.1
4         1001       Fayetteville, Ohio    45118      F  41.4
5         5149       Kinmundy, Illinois    62854      F  36.6
6         5453       Malibu, California    90264      M  36.2
7         5470       Eminence, Missouri    65466      F  23.6
8         5492  Murfreesboro, Tennessee    37129      F  36.6
9         5618      Bradley, California    93426      M  29.8

In [200]:
df.to_csv('Output',index=False)

In [201]:
df = pd.read_excel('../Datasets/Churn-Modelling.xlsx')
print(df[1:10])

   RowNumber  CustomerId   Surname  CreditScore Geography  Gender  Age  \
1          2    15647311      Hill          608     Spain  Female   41
2          3    15619304      Onio          502    France  Female   42
3          4    15701354      Boni          699    France  Female   39
4          5    15737888  Mitchell          850     Spain  Female   43
5          6    15574012       Chu          645     Spain    Male   44
6          7    15592531  Bartlett          822    France    Male   50
7          8    15656148    Obinna          376   Germany  Female   29
8          9    15792365        He          501    France    Male   44
9         10    15592389        H?          684    France    Male   27

   Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
1       1   83807.86              1          0               1
2       8  159660.80              3          1               0
3       1       0.00              2          0               0
4       2  125510.82              1          1               1
5       8  113755.78              2          1               0
6       7       0.00              2          1               1
7       4  115046.74              4          1               0
8       4  142051.07              2          0               1
9       2  134603.88              1          1               1

   EstimatedSalary  Exited
1        112542.58       0
2        113931.57       1
3         93826.63       0
4         79084.10       0
5        149756.71       1
6         10062.80       0
7        119346.88       1
8         74940.50       0
9         71725.73       0

### WELCOME TO THE END OF THE TUTORIAL
You made it!! As always, Hope you enjoyed taking this tutorial as much as I enjoyed making it. From the next tutorial, we will be starting data visualizations, enough with the boring mumbo jumbo, let's put some colors in our lives. Until then, enjoy data wrangling. 

---------------------------------------------------------------------------------
Copyrights © 2018, All Rights Reserved.
- Author: Mahnoor Anjum.
- Course: The Complete Hands-On Machine Learning Course
- Date Created: 2018-06-28
- Date Modified: -